<div class="container-fluid">

  <h1 class="text-center">
    Season:
    <%= @season.name %>
  </h1>

  <% if user_signed_in? and (current_user.mod_role? or current_user.admin_role? )%>

    <div class="">
      <%= link_to 'Edit Season', edit_season_path(@season), class: "btn btn-secondary" %>
      <%= link_to 'New division', new_season_division_path(@season), class: "btn btn-secondary" %>
    </div>

  <% end %>

  <%= render @season.divisions %>

  <hr>

</div>