<h2 class="text-center m-4">Seasons</h2>

<table class="table table-dark">
  <tr>
    <th>Name</th>
    <th>Options</th>
  </tr>

  <% @seasons.each do |season| %>
    <tr>
      <td><%= season.name %></td>

      <td><%= link_to 'Show', season_path(season), class: "btn btn-secondary" %>
        <% if user_signed_in? and current_user.admin_role? || current_user.mod_role? %>
          <%= link_to 'Edit', edit_season_path(season), class: "btn btn-secondary" %>
          <%= link_to 'Destroy', season_path(season), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<% if user_signed_in? and current_user.admin_role? || current_user.mod_role? %>
  <%= link_to 'New season', new_season_path, class: "btn btn-secondary" %>
<% end %>