<%= form_with model: [ @match, @match.scores.build], local: true do |form| %>
<% if score.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(score.errors.count, "error") %>
      prohibited this score from being saved:</h2>

    <ul>
      <% score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>
  <%= form.label "My Wins" %><br>
  <%= form.number_field(:wins, step: 1) %>
</p>

<p>
  <%= form.label "My Loses" %><br>
  <%= form.number_field(:loses, step: 1) %>
</p>

<div class="actions">
  <%= form.submit(class: "btn btn-secondary")%>
</div>
<% end %>