<h1 class="text-center">
  <%= division.name %>
</h1>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Player</th>
      <th scope="col">Wins</th>
      <th scope="col">Loses</th>
    </tr>
  </thead>
  <tbody>

    <% get_top_division_players(division).each_with_index do |(user,wins),index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>

        <td><%= user.username %></td>
        <td><%= wins %></td>
        <td><%= @user_loses[user] %></td>

      </tr>
    <% end %>

  </tbody>
</table>

<%= link_to 'Join Division', join_season_division_path(@season,division), class: "btn btn-secondary" %>
<%= link_to 'Show Division', season_division_path(@season,division), class: "btn btn-secondary" %>

<% if user_signed_in? and (current_user.mod_role? or current_user.admin_role?)%>
  <%= link_to 'Edit Division', edit_season_division_path(@season,division), class: "btn btn-secondary" %>
  <%= link_to 'Destroy Division', [division.season, division], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %>
<% end %>