<%= form_with model: [ @season, @season.divisions.build ], local: true do |form| %>

<% if @division.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@division.errors.count, "error") %>
      prohibited this season from being saved:
    </h2>
    <ul>
      <% @division.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>
  <%= form.label :name %><br>
  <%= form.text_field :name %>
</p>

<p>
  <%= form.submit %>
</p>

<% end %>