<tbody>
  <tr>

    <!-- created at -->
    <th scope="row">
      <%= localize(match.created_at, :format => :short )%>
    </th>

    <!-- played at -->
    <td>
      <% if match.scores.exists?(match_id: match.id) %>
        <%= localize(match.scores.first.created_at, :format => :short) %>
      <% else %>
        Not yet played
      <% end %>

    </td>

    <td>

      <% if match.users.include? current_user %>

        <% match.users.each do |user| %>
          <% if not current_user.username == user.username %>
            <%= user.username %>
          <% end %>
        <% end %>

        <%= current_user.username %>

      <% else %>

        <% match.users.each do |user| %>
          <%= user.username %>
        <% end %>
      <% end %>

    </td>

    <!-- score colum -->
    <td>
      <% if match.scores.exists?(match_id: match.id) %>

        <% if user_signed_in? and match.scores.exists?(user_id: current_user.id) %>

          <%= match.scores.find_by(user_id: current_user.id).loses%>
          /
          <%= match.scores.find_by(user_id: current_user.id).wins%>

        <% else %>

          <%# score is from the perspective of the oponent switching loses and wins %>
            <%= match.scores.find_by(match_id: match.id).wins%>
            /
            <%= match.scores.find_by(match_id: match.id).loses%>

          <% end %>
        <% else %>
          <%= link_to 'Report Score', new_match_score_path(match), class: "btn btn-secondary" %>
        <% end %>
      </td>
    </tr>
  </tbody>