<h2 class="text-center m-4">My Matches</h2>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Created at</th>
      <th scope="col">Played at</th>
      <th scope="col">Players</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <%= render @matches %>
</table>